	<div id="alert alert-danger">
				<% if @post.errors.any? %>
        			<h2><%= @post.errors.count %>error prohibited this obj from being saved:</h2>
        			<ul>
        			<% @post.errors.full_messages.each do |message| %>
            			<li><%= message %></li>
        			<% end %>
        		    </ul>
    			<% end %>
    </div>

	<div class="row">

		<%= render 'posts/form'%>

		<div class="col-xs-9">

			<h2>Posts</h2>

			<table class="table table-hover table-inverse">
			<thead>
			<tr>
			  <th>タイトル</th>
			  <th>本文</th>
			  <th>天使or悪魔</th>
			  <th>ジャンル</th>
			</tr>
		  </thead>

			<tbody id="posts">
			    <%= render @posts %>
		    </tbody>
			</table>

		</div>
	</div>
